.add {
  text-align: right;
}

.add button {
  font: inherit;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.8);
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.add button:hover,
.add button:active {
  background-color: rgba(0, 0, 0, 0.4);
  border-color: rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 0.8);
}
